.app {
  min-height: 100%;
  height: auto;
}

.is-spaced {
  padding: 0.25rem 1rem !important;
}

.has-fixed-navbar-top-padding {
  padding-top: 2rem !important;
}

.is-bottom-paddingless {
  padding-bottom: 0 !important;
}

.is-top-paddingless {
  padding-top: 0 !important;
}

.is-left-paddingless {
  padding-left: 0 !important;
}

.is-left-padding-size-2 {
  padding-left: 4rem;
}

.is-next-section {
  padding-top: 1.5rem !important;
}

@media only screen and (max-width: 1024px) {

    .has-fixed-navbar-top-padding {
      padding-top: 2rem !important;
    }
}